@{
    ViewData["Title"] = "Golf (the card game) Home";
}

<div class="row">
    <div class="col-md-3">
        <h2>Start a new round</h2>
        <ul>
            <li>I play</li>
            <li><a asp-area="" asp-controller="Home" asp-action="StartNewGameIPlay">StartNewGameIPlay</a></li>
        </ul>
    </div>
</div>