@{
    ViewData["Title"] = "New game, you play";
}
@model Game
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>It's a new game that you are playing.</p>
<p>How many total players?</p>
<input type="number" name="numberOfPlayers" />
<p>Is this a full game?</p>
<input type="checkbox" name="fullGame" />